<%- include('partials/_header') -%>


<%- include('partials/_navigation') -%>

        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">My Portfolio</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Backend Developer</p>
            </div>
        </header>

                 
            
        <% if (adminIN) { %>
        	<!-- Add Modal Button -->
					<div class="col-lg-12 text-center ">
						<button class="btn btn-lg btn-warning rounded-0 text-white" data-bs-toggle="modal" data-bs-target="#addModal"><span>CREATE NEW
								PROJECT</span></button>
					</div
                    <% } %>

              


      
    <!-- Portfolio Section -->
        
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>


                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <% for (let i=0; i<projects.length; i++) { %>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal<%=i%>">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                             <img class="img-fluid" src="/assets/img/portfolio/cabin.png" alt="..." />
                        </div>
                    </div>
                    <% } %>
                </div>

                <!-- Portfolio Modals-->
                <% for (let i=0; i<projects.length; i++) { %>
                    <div class="portfolio-modal modal fade" id="portfolioModal<%=i%>" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                <div class="modal-body text-center pb-5">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8">
                                                <!-- Portfolio Modal - Title-->
                                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"><%= projects[i].title%></h2>
                                                     <!-- Icon Divider-->
                                                <div class="divider-custom">
                                                    <div class="divider-custom-line"></div>
                                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                    <div class="divider-custom-line"></div>
                                                </div>
                                                       
                                                <!-- Portfolio Modal - Image-->
                                                <img class="img-fluid rounded mb-5" src="/assets/img/portfolio/cabin.png" alt="..." />
                                                <!-- Portfolio Modal - Text-->
                                                <p class="mb-4"><%= projects[i].description %></p>

                                                <!-- Portfolio Modal - Edit and Delete button-->


                                                <div class="clearfix">
                                                    <ul style="list-style-type: none;">
                                                        <li style="float: left;"><button class="btn btn-warning rounded-0 text-white" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#editModal<%=i%>"><span>UPDATE</span></button></li>
                                                        <li style="float: right;"><a href="/<%= projects[i]._id %>?_method=DELETE" " 
                                                            onclick="return confirm('ARE YOU SURE')"
                                                            class="btn btn-danger rounded-0 text-white"><span>DELETE</span></a></li>
                                                    </ul>
                                                </div>

                                                <!-- Portfolio Modal - Close window button-->
                                                <button class="btn btn-primary" href="#" data-bs-dismiss="modal">
                                                    <i class="fas fa-times fa-fw"></i>
                                                    Close Window
                                                </button>







                                                </div>


                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
        


            </div>
        </section>
  
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Phone number</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

           <!-- Footer-->
           <%- include('partials/_footer') -%>


             <!-- ADD MODAL-->
         <div class="portfolio-modal modal fade" id="addModal" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Add Project</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="/assets/img/portfolio/submarine.png" alt="..." />



                                     <!-- Add Section Form-->
                                     <div class="row justify-content-center">
                                        <div class="col-lg-8 col-xl-7">
                                            <!-- * * * * * * * * * * * * * * *-->
                                            <!-- * * SB Forms Contact Form * *-->
                                            <!-- * * * * * * * * * * * * * * *-->
                                            <!-- This form is pre-integrated with SB Forms.-->
                                            <!-- To make this form functional, sign up at-->
                                            <!-- https://startbootstrap.com/solution/contact-forms-->
                                            <!-- to get an API token!-->
                                            <form method="POST" action="/">
                                                <!-- Name input-->
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" name="title" type="text" placeholder="Enter a title..." data-sb-validations="required" />
                                                    <label for="name">Title</label>
                                                    <div class="invalid-feedback" data-sb-feedback="name:required">A title is required.</div>
                                                </div>
                                               
                                                <!-- Description input-->
                                                <div class="form-floating mb-3">
                                                    <textarea class="form-control" name="description" type="text" placeholder="Enter your description here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                                    <label for="message">Description</label>
                                                    <div class="invalid-feedback" data-sb-feedback="message:required">A description is required.</div>
                                                </div>
                                                <!-- Submit success message-->
                                                <!---->
                                                <!-- This is what your users will see when the form-->
                                                <!-- has successfully submitted-->
                                                <div class="d-none" id="submitSuccessMessage">
                                                    <div class="text-center mb-3">
                                                        <div class="fw-bolder">Form submission successful!</div>
                                                       
                                                    </div>
                                                </div>
                                                <!-- Submit error message-->
                                                <!---->
                                                <!-- This is what your users will see when there is-->
                                                <!-- an error submitting the form-->
                                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                                <!-- Submit Button-->
                                                <button class="btn btn-primary mb-3" id="submitButton" type="submit">Send</button>
                                            </form>
                                        </div>
                                                        </div>
                                                        
                                                       <button class="btn btn-primary" href="/" data-bs-dismiss="modal">
                                                            <i class="fas fa-times fa-fw"></i>
                                                            Close Window
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            


                            <% for (let i = 0; i < projects.length ; i++) { %>
                                <!-- EDİT MODAL-->
                                <div class="portfolio-modal modal fade" id="editModal<%=i%>" tabindex="-1" aria-labelledby="editModal<%=i%>" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                            <div class="modal-body text-center pb-5">
                                                <div class="container">
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-8">
                                                            <!-- Portfolio Modal - Title-->
                                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Edit Portfolio</h2>
                                                            <!-- Icon Divider-->
                                                            <div class="divider-custom">
                                                                <div class="divider-custom-line"></div>
                                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                                <div class="divider-custom-line"></div>
                                                            </div>
                                                            <!-- Portfolio Modal - Image-->
                                                            <img class="img-fluid rounded mb-5" src="/assets/img/portfolio/submarine.png" alt="..." />
                                                            
                                                             <!-- Add Section Form-->
                                                             <div class="row justify-content-center">
                                            <div class="col-lg-8 col-xl-7">
                                              
                                                <form  novalidate method="POST" action="/<%= projects[i]._id %>?_method=PUT"  class="tm-contact-form">
                                                    <!-- Name input-->
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" name="title" type="text"  value="<%= projects[i].title %>"  data-sb-validations="required" />
                                                        
                                                        <div class="invalid-feedback" data-sb-feedback="name:required">A title is required.</div>
                                                    </div>
                                                   
                                                    <!-- Message input-->
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" name="description" type="text"  value="<%= projects[i].description %>" data-sb-validations="required" />
                                                       
                                                        <div class="invalid-feedback" data-sb-feedback="message:required">A description is required.</div>
                                                    </div>
                                                    <!-- Submit success message-->
                                                    <!---->
                                                    <!-- This is what your users will see when the form-->
                                                    <!-- has successfully submitted-->
                                                    <div class="d-none" id="submitSuccessMessage">
                                                        <div class="text-center mb-3">
                                                            <div class="fw-bolder">Form submission successful!</div>
                                                           
                                                        </div>
                                                    </div>
                                                    <!-- Submit error message-->
                                                    <!---->
                                                    <!-- This is what your users will see when there is-->
                                                    <!-- an error submitting the form-->
                                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                                    <!-- Submit Button-->
                                                    <button class="btn btn-primary mb-3" id="submitButton" type="submit">Send</button>
                                                </form>
                                            </div>
                                                            </div>
                                                            
                                                           <button class="btn btn-primary" href="/" data-bs-dismiss="modal">
                                                                <i class="fas fa-times fa-fw"></i>
                                                                Close Window
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        
                    



         
     
       

 



   
     


       
        

     


       